
OTHER_CFLAGS = $(inherited) -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD
OTHER_CFLAGS[sdk=guestos.linux.x86_64] = $(inherited) -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS = $(inherited) -lobjc
OTHER_LDFLAGS[sdk=guestos.linux.x86_64] = $(inherited) -lm -ldl -lpthread -Wl,-rpath=/usr/local/lib/
