#include "linux"

EFFECTIVE_PLATFORM_NAME = -linux
INSTALL_TARGET_TRIPLE = x86_64-pc-linux

GCC_VERSION = com.apple.compilers.llvm.clang.1_0

ARCHS = x86_64
VALID_ARCHS = x86_64


LINUX_x86_64_SYSROOT = /Developer/Cocotron/1.0/Linux/x86_64/gcc-4.3.1/x86_64-pc-linux
LINUX_x86_64_TARGET_FLAGS = -target x86_64-pc-linux-gnu -ccc-gcc-name x86_64-pc-linux -B$(LINUX_x86_64_SYSROOT)/bin

LINUX_x86_64_COMPILER_CFLAGS = $(LINUX_x86_64_TARGET_FLAGS) -D_GNU_SOURCE -D__LITTLE_ENDIAN__ -fPIC -fobjc-nonfragile-abi -fobjc-runtime=gnustep-1.8
LINUX_x86_64_COMPILER_LDFLAGS = $(LINUX_x86_64_TARGET_FLAGS) --sysroot $(LINUX_x86_64_SYSROOT)
LINUX_x86_64_COMPILER_ISYSTEM = -isystem $(LINUX_x86_64_SYSROOT)/usr/include -isystem $(LINUX_x86_64_SYSROOT)/usr/include/x86_64-linux-gnu -isystem $(LINUX_x86_64_SYSROOT)/usr/local/include
LINUX_x86_64_COMPILER_SYSLIB = $(LINUX_x86_64_SYSROOT)/lib/ $(LINUX_x86_64_SYSROOT)/lib/x86_64-linux-gnu/ $(LINUX_x86_64_SYSROOT)/usr/lib/ $(LINUX_x86_64_SYSROOT)/usr/lib/x86_64-linux-gnu/ $(LINUX_x86_64_SYSROOT)/usr/local/lib/

LINUX_x86_64_CFLAGS = -DGCC_RUNTIME_3 -D__LITTLE_ENDIAN__ -Wreturn-type -isystem $DSTROOT/include $(LINUX_x86_64_COMPILER_ISYSTEM) $(LINUX_x86_64_COMPILER_CFLAGS)
LINUX_x86_64_LDFLAGS = $(LINUX_x86_64_COMPILER_LDFLAGS)
LINUX_x86_64_LIBRARY_SEARCH_PATHS = $DSTROOT/lib $(LINUX_x86_64_COMPILER_SYSLIB)

OTHER_CFLAGS = $(LINUX_x86_64_CFLAGS)
OTHER_LDFLAGS = $(LINUX_x86_64_LDFLAGS)
LIBRARY_SEARCH_PATHS = $(LINUX_x86_64_LIBRARY_SEARCH_PATHS)
