#include "linux-x86_64-framework"


OTHER_CFLAGS = $(LINUX_x86_64_CFLAGS) -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS = $(LINUX_x86_64_FRAMEWORK_LDFLAGS) -Wl,-Bdynamic -lm -Wl,-Bdynamic -ldl -Wl,-Bdynamic -lpthread -Wl,-Bdynamic -lobjc -Wl,-rpath=/usr/local/lib/

LINUX_x86_64_FOUNDATION_GNU89_INDIVIDUAL_FILE_CFLAGS = -std=gnu89
